
/* Globals */

:root {
    --sidebar-width: 300px;
    --sidebar-resize-indicator-width: 8px;
    --sidebar-resize-indicator-space: 2px;
    --page-padding: 15px;
    --content-max-width: 750px;
    --menu-bar-height: 50px;
    --mono-font: "Source Code Pro", Consolas, "Ubuntu Mono", Menlo, "DejaVu Sans Mono", monospace, monospace;
    --code-font-size: 0.875em /* please adjust the ace font size accordingly in editor.js */
}

/* Themes */

.light {
    --bg: hsl(0, 0%, 100%);
    --fg: hsl(0, 0%, 0%);

    --sidebar-bg: #fafafa;
    --sidebar-fg: hsl(0, 0%, 0%);
    --sidebar-non-existant: #aaaaaa;
    --sidebar-active: #1f1fff;
    --sidebar-spacer: #f4f4f4;

    --scrollbar: #8F8F8F;

    --icons: #747474;
    --icons-hover: #000000;

    --links: #20609f;

    --inline-code-color: #301900;

    --theme-popup-bg: #fafafa;
    --theme-popup-border: #cccccc;
    --theme-hover: #e6e6e6;

    --quote-bg: hsl(197, 37%, 96%);
    --quote-border: hsl(197, 37%, 91%);

    --warning-border: #ff8e00;

    --table-border-color: hsl(0, 0%, 95%);
    --table-header-bg: hsl(0, 0%, 80%);
    --table-alternate-bg: hsl(0, 0%, 97%);

    --searchbar-border-color: #aaa;
    --searchbar-bg: #fafafa;
    --searchbar-fg: #000;
    --searchbar-shadow-color: #aaa;
    --searchresults-header-fg: #666;
    --searchresults-border-color: #888;
    --searchresults-li-bg: #e4f2fe;
    --search-mark-bg: #a2cff5;

    --color-scheme: light;
}

.ayu {
    --bg: hsl(210, 25%, 8%);
    --fg: #c5c5c5;

    --sidebar-bg: #14191f;
    --sidebar-fg: #c8c9db;
    --sidebar-non-existant: #5c6773;
    --sidebar-active: #ffb454;
    --sidebar-spacer: #2d334f;

    --scrollbar: var(--sidebar-fg);

    --icons: #737480;
    --icons-hover: #b7b9cc;

    --links: #0096cf;

    --inline-code-color: #ffb454;

    --theme-popup-bg: #14191f;
    --theme-popup-border: #5c6773;
    --theme-hover: #191f26;

    --quote-bg: hsl(226, 15%, 17%);
    --quote-border: hsl(226, 15%, 22%);

    --warning-border: #ff8e00;

    --table-border-color: hsl(210, 25%, 13%);
    --table-header-bg: hsl(210, 25%, 28%);
    --table-alternate-bg: hsl(210, 25%, 11%);

    --searchbar-border-color: #848484;
    --searchbar-bg: #424242;
    --searchbar-fg: #fff;
    --searchbar-shadow-color: #d4c89f;
    --searchresults-header-fg: #666;
    --searchresults-border-color: #888;
    --searchresults-li-bg: #252932;
    --search-mark-bg: #e3b171;

    --color-scheme: dark;
}

.default {
    --bg: #16171b;
    --fg: #c8c8ca;

    --sidebar-bg: #131417;
    --sidebar-fg: #c8c8ca;
    --sidebar-non-existant: #656b75;
    --sidebar-active: #ffa97d;
    --sidebar-spacer: #23252a;

    --scrollbar: var(--sidebar-fg);

    --icons: #737480;
    --icons-hover: #b7b9cc;

    --links: #4978d0ff;

    /* --inline-code-color: #d8d8e0; */
    --inline-code-color: #fcd0bd;

    --theme-popup-bg: #131417;
    --theme-popup-border: #656b75;
    --theme-hover: #1e2025;

    --quote-bg: hsl(228, 11%, 14%);
    --quote-border: hsl(228, 11%, 20%);

    --warning-border: #ff8e00;

    --table-border-color: hsl(228, 13%, 18%);
    --table-header-bg: hsl(228, 14%, 28%);
    --table-alternate-bg: hsl(228, 14%, 14%);

    --searchbar-border-color: #ffa97d;
    --searchbar-bg: hsl(228, 10%, 14%);
    --searchbar-fg: #fff;
    --searchbar-shadow-color: #ffa97d;
    --searchresults-header-fg: #888;
    --searchresults-border-color: #aaa;
    --searchresults-li-bg: #252932;
    --search-mark-bg: #ffb38c;

    --color-scheme: dark;
}

.whooie {
    --bg: #16171b;
    --fg: #d0d0d8;

    --sidebar-bg: #131417;
    --sidebar-fg: #c8c9d8;
    --sidebar-non-existant: #656b75;
    --sidebar-active: #ffa97d;
    --sidebar-spacer: #23252a;

    --scrollbar: var(--sidebar-fg);

    --icons: #737480;
    --icons-hover: #b7b9cc;

    --links: hsl(228, 35%, 55%);

    --inline-code-color: #aeb7ca;

    --theme-popup-bg: #131417;
    --theme-popup-border: #656b75;
    --theme-hover: #1e2025;

    --quote-bg: hsl(228, 11%, 14%);
    --quote-border: hsl(228, 11%, 20%);

    --warning-border: #ff8e00;

    --table-border-color: hsl(228, 13%, 18%);
    --table-header-bg: hsl(228, 14%, 28%);
    --table-alternate-bg: hsl(228, 14%, 14%);

    --searchbar-border-color: #ffa97d;
    --searchbar-bg: hsl(228, 10%, 14%);
    --searchbar-fg: #fff;
    --searchbar-shadow-color: #ffa97d;
    --searchresults-header-fg: #888;
    --searchresults-border-color: #aaa;
    --searchresults-li-bg: #252932;
    --search-mark-bg: #ffb38c;

    --color-scheme: dark;
}

@media (prefers-color-scheme: dark) {
    .light.no-js {
        --bg: hsl(200, 7%, 8%);
        --fg: #98a3ad;

        --sidebar-bg: #292c2f;
        --sidebar-fg: #a1adb8;
        --sidebar-non-existant: #505254;
        --sidebar-active: #3473ad;
        --sidebar-spacer: #393939;

        --scrollbar: var(--sidebar-fg);

        --icons: #43484d;
        --icons-hover: #b3c0cc;

        --links: #2b79a2;

        --inline-code-color: #c5c8c6;

        --theme-popup-bg: #141617;
        --theme-popup-border: #43484d;
        --theme-hover: #1f2124;

        --quote-bg: hsl(234, 21%, 18%);
        --quote-border: hsl(234, 21%, 23%);

        --warning-border: #ff8e00;

        --table-border-color: hsl(200, 7%, 13%);
        --table-header-bg: hsl(200, 7%, 28%);
        --table-alternate-bg: hsl(200, 7%, 11%);

        --searchbar-border-color: #aaa;
        --searchbar-bg: #b7b7b7;
        --searchbar-fg: #000;
        --searchbar-shadow-color: #aaa;
        --searchresults-header-fg: #666;
        --searchresults-border-color: #98a3ad;
        --searchresults-li-bg: #2b2b2f;
        --search-mark-bg: #355c7d;
    }
}
